#excluded files (general)
*.class
*.jar
*.tar.bz2
*.in
*.log
*.out


#excluded files (specified)
.ant-targets-build.xml
.project
.classpath
src/data/*.new


#excluded folders
build/
dist/
/bin/
.settings/
lib/
